img {
  height: 175px;
  width: auto;
  max-width: 150%;
  max-height: 350px;
}

.card {
  position: relative;
  background: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 230px;
  border-radius: 16px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
  0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;
}

.card__image-container {
  height: 175px;
  margin: -2rem -2rem 1rem -2rem;
}



.card__title {
  color: white;
  margin: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
  font-size: larger;
}

.card__content-delete {

  align-content: center;
  text-align: center;
  border: none; 
  cursor: pointer;
  border-radius: 5px;
  color: grey;
  padding-bottom: 0px;
}