.return {
    text-align: center;
}

.return-link {
  margin-top: 45px;
  width: 150px;
  height:40px;
  text-align: center;
  border: none;
  background: #444;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 5px;
  color: white;
}

.screenshots-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.quard {
  position: relative;
  background: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 375px;
  width: auto;
  border-radius: 16px;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
  0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;
  padding: 0 0 0 0;
}